OPENAI_API_KEY=
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=ragdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

EMBEDDING_MODEL=all-MiniLM-L6-v2
LLM_PROVIDER=mlx
MLX_MODEL=llama-3.2-1b-instruct
